html, body, div, p, h1, h2, h3 {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.mainContainer {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px
}

